*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}
body{
    background-color: rgb(25, 25, 76);
}
.principal{
    display: flex;
    flex-direction: row;
}
.principal .foto {
    width: 750px;
    height: 350px;
}
.header .logotipo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #EEE5FF;
    font-weight: 100;
}
.logo img{
    width: 50px;
    margin-right: 10px;
}
.ebook .ebook-titulo p{
    display: flex;
    justify-content: flex-start;
    margin-left: 15%;
    margin-bottom: 30px;
    font-family: 'Nunito Sans', sans-serif;
    color: #EfE6FF;
    font-size: 20px;
}
.ebook .ebook-titulo h1{
    display: flex;
    justify-content: flex-start;
    margin-left: 15%;
    margin-bottom: 50px;
    font-family: 'Darker Grotesque', sans-serif;
    color: #EfE6FF;
    font-size: 60px;
}
.ebook .ebook-descricao p{
    display: flex;
    justify-content: flex-start;
    margin-left: 15%;
    margin-bottom: 50px;
    font-family: 'Nunito Sans', sans-serif;
    color: #EfE6FF;
    font-size: 30px;
}
.ebook .ebook-baixar{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    margin-left: 15%;
    width: 520px;
    height: 185px;
    margin-bottom: 100px;
}
.ebook .ebook-baixar button{
    background-color: #ECB035;
    border: #ECB035;
    margin-left: 28px;
    margin-top: 37px;
    margin-bottom: 24px;
    width: 240px;
    height: 43px;
    padding: 0.3rem;
    box-shadow: 0px 3px 5px black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.ebook .ebook-baixar p{
    margin-left: 28px;
    margin-right: 30px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #1E1E50;
}
.container .cadastro{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;
}
.cadastro .visitante{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 55px;
    margin-bottom: 50px;
    margin-right: 80px;
    width: 520px;
    height: 480px;
}
.cadastro .formulario{
    display: flex;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 85px;
    margin-bottom: 50px;
    width: 520px;
    height: 480px;
    background-color: #806EFE;
    color: #ffffff;
}
.visitante h3{
    display: flex;
    justify-content: center;
    margin-top: 105px;
    margin-bottom: 25px;
    color: #806EFE;
    font-size: 30px;
}
.visitante h4{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 20px;
}
.visitante p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}
.formulario h4{
    display: flex;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 0px;
}
.formulario p{
    display: flex;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.formulario ul li{
    display: flex;
    list-style: none;
    font-size: 13px;
    margin-left: 30px;
    margin-bottom: 5px;
}
.cadastro .ebook-baixar button{
    background-color: #ECB035;
    border: #ECB035;
    margin-left: 28px;
    margin-top: 37px;
    margin-bottom: 10px;
    margin-right: 30px;
    width: 450px;
    height: 43px;
    padding: 0.3rem;
    box-shadow: 0px 3px 5px black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.cadastro .ebook-baixar h4{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
label{
    font-size: 15px;
}
input{
    margin-right: 30px;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.container .beneficio{
    display: flex;
    justify-content: center;
    background-color: #F6F3FF;
}
.container .beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F3FF;
}
.lista-beneficios ul li{
    list-style: none;
    margin-top: 5px;
    text-align: justify;
}
.lista-beneficios ul{
    margin-top: 10px;
    font-size: 17px;
}
.beneficio .foto3 img{
    margin-top: 60px;
    margin-bottom: 110px;
    margin-right: 80px;
}
.beneficio .lista-beneficios{
    margin-top: 60px;
}
.beneficios .ebook-baixar button{
    background-color: #ECB035;
    border: #ECB035;
    margin-left: 28px;
    margin-top: 0px;
    margin-bottom: 34px;
    margin-right: 30px;
    width: 240px;
    height: 43px;
    padding: 0.3rem;
    box-shadow: 0px 3px 5px black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.container .duvidas-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.duvidas{
    display: flex;
}
.duvidas .duvidas1{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.duvidas .duvidas2{
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.duvidas .duvidas1,
.duvidas .duvidas2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.duvidas .duvidas1 h1,
.duvidas .duvidas2 h1{
    color: #19194C;
    font-size: 20px;
    margin-top: 10px;
}
.duvidas .duvidas1 p,
.duvidas .duvidas2 p{
    color: #221C3F;
    font-size: 16px;
    margin-top: 10px;
}
.duvidas-titulo .duvidas-frequentes{
    margin-top: 30px;
}
.duvidas-titulo .ebook-baixar button{
    background-color: #ECB035;
    border: #ECB035;
    margin-left: 28px;
    margin-top: 37px;
    margin-bottom: 10px;
    margin-right: 30px;
    width: 240px;
    height: 43px;
    padding: 0.3rem;
    box-shadow: 0px 3px 5px black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
body footer{
    background-color: rebeccapurple;
}
.footer p{
    padding: 30px 0 30px 0;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: white;
    background: linear-gradient(to right, #7d63f3, #7b61f0, #785fec, #765ee9, #745ce6, #7a63e7, #806be7, #8672e8, #9584ec, #a495ef, #b3a7f2, #c2b9f5);
}

@media (min-width:765px) and (max-width:1200px){
    .principal .foto {
        display: none;
    }
    .header .logotipo{
        display: flex;
        justify-content: flex-start;
        margin-left: 35px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .ebook .ebook-titulo p,
    .ebook .ebook-titulo h1{
        display: flex;
        justify-content: flex-start;
        margin-left: 35px;
        margin-bottom: 40px;
        margin-right: 355px;
    }
    .ebook .ebook-descricao p{
        display: flex;
        justify-content: flex-start;
        margin-left: 35px;
        margin-bottom: 50px;
    }
    .ebook .ebook-baixar{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #ffffff;
        margin-left: 35px;
        width: 520px;
        height: 185px;
        margin-bottom: 100px;
    }
    .container .cadastro{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .cadastro .visitante{
        margin-left: 50px;
    }
    .container .beneficios .beneficio{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .beneficios .ebook-baixar button{
        margin-top: 70px;
    }
    .duvidas .duvidas1,
    .duvidas .duvidas2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    width: 80%;
    margin: 0;
    }
    .duvidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .duvidas-titulo .ebook-baixar button{
        width: 240px;
        height: 43px;
    }
}
@media (min-width:560px) and (max-width:764px){
    .principal .foto {
        display: none;
    }
    .header .logotipo{
        display: flex;
        justify-content: flex-start;
        margin-left: 35px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .ebook .ebook-titulo p,
    .ebook .ebook-titulo h1{
        display: flex;
        justify-content: flex-start;
        margin-left: 35px;
        margin-bottom: 40px;
        margin-right: 75px;
    }
    .ebook .ebook-descricao p{
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 50px;
    }
    .ebook .ebook-baixar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px;
        background-color: #ffffff;
        margin-left: 35px;
        width: 520px;
        height: 185px;
    }
    .container .cadastro{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .cadastro .visitante{
        margin-left: 50px;
    }
    .container .beneficios .beneficio{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .beneficios .ebook-baixar button{
        margin-top: 70px;
    }
    .duvidas .duvidas1,
    .duvidas .duvidas2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 80%;
    margin: 0;
    }
    .duvidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .duvidas-titulo .ebook-baixar button{
        width: 240px;
        height: 43px;
    }
}
@media (max-width:559px){
    .principal .foto {
        display: none;
    }
    .header .logotipo{
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .ebook .ebook-titulo p{
        display: flex;
        justify-content: flex-start;
    }
    .ebook .ebook-titulo h1{
        display: flex;
        justify-content: flex-start;
        text-align: left;
    }
    .ebook .ebook-descricao p{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 50px;
        text-align: start;
        font-size: 25px;
    }
    .ebook .ebook-baixar p{
        font-size: 14px;
    }
    .ebook .ebook-baixar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px;
        background-color: #ffffff;
        width: 350px;
        height: 210px;
    }
    .container .cadastro{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .cadastro .visitante{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-end;
        margin-right: 0;
    }
    .cadastro .visitante,
    .cadastro .formulario{
        margin-top: -10px;
        width: 360px;
        height: 480px;
    }
    .formulario .ebook-baixar button{
        width: 320px;
        height: 43px;
    }
    .container .beneficios .beneficio{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .beneficios .ebook-baixar button{
        margin-top: 70px;
    }
    .beneficio .foto3 img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }
    .duvidas .duvidas1,
    .duvidas .duvidas2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 80%;
    margin: 0;
    }
    .duvidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .duvidas-titulo .ebook-baixar button{
        width: 240px;
        height: 43px;
        margin-bottom: 2rem;
    }
}